{% extends "base.twig" %}
{% block title %}PWbox - Dashboard{% endblock %}
{% block content %}
    <div class="container">
        <br>
        {% if errors is empty and isPost %}
            <div class="notification is-success">
                <button class="delete"></button>
                <p>All the files have been uploaded successfully!</p>
            </div>
        {% endif %}
        {% for error in errors %}
            <div class="notification is-danger">
                <button class="delete"></button>
                <p>{{ error }}</p>
            </div>
        {% endfor %}
        <div class="panel">
            <div class="panel-heading">
                <div class="level">
                    <h1 class="is-vcentered has-text-weight-bold"> your files </h1>
                    <div class="field is-grouped is-grouped-right">
                        <p class="control">
                            <a id="newFolder" class="button is-primary is-outlined is-medium">
                                <span class="icon is-small">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span class="has-text-weight-bold">new folder</span>
                            </a>
                        </p>
                        <p class="control">
                            <a id="newFile" class="button is-primary is-medium">
                                <span class="icon is-small">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="has-text-weight-bold">new file</span>
                            </a>
                        </p>
                    </div>

                </div>
            </div>

            <div id="newFileModal" class="modal">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <div class="">
                        <header class="modal-card-head">
                            <p class="subtitle">add a new file</p>
                        </header>
                        <section class="modal-card-body">
                            <form action="{{ base_url('/dashboard') }}" enctype="multipart/form-data" method="POST">
                                <div class="control">
                                    <div class="file has-name is-boxed is-primary">
                                        <label class="file-label">
                                            <input id="file" class="file-input" type="file" name="files[]" multiple="multiple">
                                            <span class="file-cta">
                                                <span class="file-icon">
                                                    <i class="fas fa-upload"></i>
                                                </span>
                                                <span class="file-label">
                                                    choose a file
                                                </span>
                                            </span>
                                            <span id="filename" class="file-name">

                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <br>
                                <div class="control">
                                    <input class="button is-primary" type="submit" value="Upload">
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
            </div>

            <div class="panel-block">
                <div class="container">
                    <div class="box">
                        <a class="subtitle"> file </a>
                        <div class="field is-grouped is-grouped-right is-pulled-right">
                            <p class="control">
                                <a class="button is-success">
                                    <span>download</span>
                                </a>
                            </p>
                            <p class="control">
                                <a class="button is-primary">
                                        <span class="icon is-small">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    <span>rename</span>
                                </a>
                            </p>
                            <p class="control">
                                <a class="button is-danger">
                                        <span class="icon is-small">
                                            <i class="fas fa-times"></i>
                                        </span>
                                    <span>delete</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                {% for folder in folders %}
                    <div class="container">
                        <div class="box">
                            <a class="subtitle is-vcentered"> file </a>
                            <div class="field is-grouped is-grouped-right is-pulled-right">
                                <p class="control">
                                    <a class="button is-success">
                                        <span>open</span>
                                    </a>
                                </p>
                                <p class="control">
                                    <a class="button is-primary">
                                        <span class="icon is-small">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                        <span>rename</span>
                                    </a>
                                </p>
                                <p class="control">
                                    <a class="button is-danger">
                                        <span class="icon is-small">
                                            <i class="fas fa-times"></i>
                                        </span>
                                        <span>delete</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for file in files %}
                    <div class="container">
                        <div class="box">
                            <a class="subtitle is-vcentered"> file </a>
                            <div class="field is-grouped is-grouped-right is-pulled-right">
                                <p class="control">
                                    <a class="button is-success">
                                        <span>download</span>
                                    </a>
                                </p>
                                <p class="control">
                                    <a class="button is-primary">
                                        <span class="icon is-small">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                        <span>rename</span>
                                    </a>
                                </p>
                                <p class="control">
                                    <a class="button is-danger">
                                        <span class="icon is-small">
                                            <i class="fas fa-times"></i>
                                        </span>
                                        <span>delete</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
    </div>
{% endblock %}