{% extends "base.twig" %}
{% block title %}PWbox - Error{% endblock %}
{% block content %}
    <div class="hero is-medium is-light is-bold">
        <div class="hero-body">
            <h2 class="title is-small">
                Forbidden page. You have to Log in first to access this page.
            </h2>
        </div>
    </div>
{% endblock %}