{% extends "base.twig" %}
{% block title %}PWbox - Error{% endblock %}
{% block content %}
    <div class="hero is-medium is-light is-bold">
        <div class="hero-body has-text-centered">
            <h2 class="title is-small">
                Forbidden page.
            </h2>
            <p class="subtitle">You have to <span class="has-text-weight-bold">Log in </span>first to access this page.</p>
        </div>
    </div>
{% endblock %}