<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
        <link rel="stylesheet" href="{{ base_url() }}/assets/css/styles.css">
    </head>
    <body>
    <p> Hello {{ name }} </p>
    </body>
</html>