{% extends "base.twig" %}
{% block title %}PWbox{% endblock %}
{% block content %}
    <!-- {{ parent() }} -->
    <!-- child -->
    <section class="hero is-primary is-medium">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <p class="title">Hello {{ name }} you've visited this page {{ counter }} times.</p>
                        {% if not advice %}
                            <p class="subtitle">Cookies message</p>
                        {% endif %}
                        <!-- <img class="title" src="{{ base_url() }}/assets/img/logo_white.png" alt="PWBox: your files online" width="100px">
                        <h2 class="subtitle">
                            Your files, online.
                        </h2> -->
                    </div>
                    <div class="column">
                        <a class="button is-large is-primary is-outlined is-inverted">Get started!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}