{% extends "base.twig" %}
{% block title %}PWbox - login{% endblock %}
{% block content %}
    <div class="hero is-medium is-light is-bold">
        <div class="hero-body">
            <div class="columns">
                <div class="column is-three-fifths is-offset-one-fifth">
                    <h2 class="title is-centered">login</h2>
                    <form action="/user" method="POST">
                        <div class="field">
                            <label class="label">email</label>
                            <div class="control has-icons-left">
                                <input class="input" type="email" name="email" id="login-email" onblur="checkEmail(2);" placeholder="email">
                                <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            </div>
                            <p class="help is-danger has-text-weight-bold" id="l-email-inv" style="display: none;">Invalid email</p>
                        </div>
                        <div class="field">
                            <label class="label">password</label>
                            <div class="control has-icons-left">
                                <input class="input" type="password" name= "password" id="login-password" onblur="checkPassword(2);" placeholder="password">
                                <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                            </div>
                            <p class="help is-danger has-text-weight-bold" id="l-password-inv" style="display: none;">invalid password</p>
                        </div>

                        <div class="field">
                            <div class="columns">
                                <div class="column control">
                                    <button class="button is-primary is-medium" type="submit" id="login-button" onclick="return checkLoginFrontEnd();">log in</button>
                                </div>
                                <div class="column control">
                                    <a class="button is-primary is-outlined is-medium" href="/register">sign up</a>
                                </div>
                            </div>
                        </div>
                        <label class="help is-info has-text-weight-bold" id="l-message-inv" style="display: none;">your email or password are not valid</label>
                        {% if error %}
                            <div class="field">
                                <label class="help is-info has-text-weight-bold">your email or password are not valid</label>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script defer src="{{ base_url() }}/assets/js/validations.js"></script>
{% endblock %}