{% extends "base.twig" %}
{% block title %}PWbox - Register{% endblock %}
{% block content %}
    <div class="hero is-medium is-light is-bold">
        <div class="hero-body">
        <div class="columns">
            <div class="column">
                <h2 class="title is-centered">Register</h2>
                <form action="/login" method="POST">
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control has-icons-left">
                            <input class="input {% if error %} is-error {% endif %}" type="text" name="username" placeholder="Username">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left">
                            <input class="input {% if error %} is-error {% endif %}" type="email" name="email" placeholder="Email">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Birthdate</label>
                        <div class="control has-icons-left">
                            <input class="input {% if error %} is-error {% endif %}" type="date" name="birthdate" placeholder="dd/mm/yyyy">
                            <span class="icon is-small is-left">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control has-icons-left">
                            <input class="input {% if error %} is-error {% endif %}" type="password" name="password" placeholder="Password">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Confirm password</label>
                        <div class="control has-icons-left">
                            <input class="input {% if error %} is-error {% endif %}" type="password" name="confirm-password" placeholder="Confirm password">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary is-medium" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="column">

            </div>
        </div>
        {% if error %}
            {{ error }}
        {% endif %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        </div>
    </div>
{% endblock %}